@import "tailwindcss";

body {
  background-color: #020103;
}
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
